.m-btn-flat {
    background-color: transparent;
    box-shadow: none;
    color: #039be5;
    padding: 8px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font: 500 14px/20px Roboto, sans-serif;
    height: 36px;
    margin: 0;
    min-width: 36px;
    outline: 0;
    overflow: hidden;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    /* For Safari 3.1 to 6.0 */
    transition: all 0.5s;
    vertical-align: middle;
    white-space: nowrap;
}

.m-btn-flat:hover {
    background-color: rgb(226, 242, 255);
}
